* {
    /* border: 2px solid black; */
    font-family:"Simply Rounded";
  }

@font-face {
    font-family: "Simply Rounded";
    src: url("fonts/Simply Rounded/Simply Rounded.ttf");
}
@font-face {
    font-family: "Simply Rounded";
    src: url("fonts/Simply Rounded/Simply Rounded Bold.ttf");
    font-weight: bold;
}
table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 100%;
}

h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.875em;
  }
  
  p {
    font-size: 0.875em;
  }

#navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #007FFFFF;
    color:white;
    padding-bottom: 3px;
    text-decoration: none;
}

a {
    color:#007FFFFF;
    text-decoration: none;
}